$nuetral-color: #fff;
$correct-color: #7766C3;
$wrong-color: #709fb0;

*::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Permanent Marker', cursive;
	background-color: $nuetral-color;
}

.container {
	width: 100%;
	background-color: #fff;
	font-size: 100%; // 16px in Chrome
	color: #89867e;
	letter-spacing: 0.1em;

	header {
		text-align: center;
		margin: 2.2em auto;

		h1 {
			font-weight: 300;
		}

		span {
			display: block;
			font-size: 60%;
			opacity: 0.5;
			margin: 0.6em 0 0 0;
		}
	}
	
	section {
		text-align: center;
		//margin: 0 auto;
    	padding: 2em 6em;
		color: #fff;
		letter-spacing: inherit;
	}
}

.question-container {
	background-color: #363537;

	.question {
		margin: 0.8em auto 2em;
	}
}

.btn {
	background-color: inherit;
	color: inherit;
	min-width: 14em;
	padding: 1.2em 2.2em;
	margin: 1em 3em;
	border: 0.2em solid #fff;	
	font-family: inherit;
	font-size: 1em;
	font-weight: inherit;
	text-transform: uppercase;
	letter-spacing: inherit;
	transition: all 0.3s;
	cursor: pointer;

	&:focus
	{
		outline: none;
	}

	&.correct {
		background-color: $correct-color;
	}

	&.wrong {
		background-color: $wrong-color;
	}

 	// button animation
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;

	&:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 100%;
	background: #DCED31;
	z-index: -1;
	-webkit-transition: width 150ms ease-in-out;
	transition: width 150ms ease-in-out;
	color: blue;
	}

	&:hover:after {
	width: 110%;
	}
}

.controls-container {
	background-color: #709fb0;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-btn, .next-btn {
	min-width: 10.6em;
	font-size: 1em;
	font-weight: inherit;
}

.start-btn {
	background-color: #E4323D;
}

.next-btn {
	background-color: #c9cc27;
}

.hide {
	display: none;
}