$primary-color: #fff;
$secondary-color: #709fb0;
$tertiary-color: #E4323D;
$quaternary-color: #7766C3;

*::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	position: relative;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	background-color: $primary-color;
}

.container {
	width: 100%;
	background-color: $primary-color;
	font-size: 100%; // 16px in Chrome
	color: #89867e;
	letter-spacing: 0.03em;
	margin-top: -100px;

	header {
		text-align: center;
		font-family: 'Vampiro One', cursive;
		color: $tertiary-color;

		h1 {
			font-weight: 300;
			font-size: 3.5em;
			letter-spacing: 0.05em;
		}

		span {
			display: block;
			font-size: 0.3em;
			color: $secondary-color;
			opacity: 0.5;
			margin: 0.7em 0 0 0;
			letter-spacing: 0.2em;
		}
	}
	
	section {
		text-align: center;
    	padding: 2.4em 6em;
		color: $primary-color;
		letter-spacing: inherit;
	}
}

.fixed {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -20px;
}

.question-container {
	background-color: #363537;

	.question {
		margin: 0.8em auto 2em;
	}
}

.btn {
	background-color: inherit;
	color: inherit;
	min-width: 14em;
	padding: 1.2em 2.2em;
	margin: 1em 3em;
	border: 0.2em solid $primary-color;	
	font-family: inherit;
	font-size: 1em;
	font-weight: inherit;
	text-transform: uppercase;
	letter-spacing: inherit;
	transition: all 0.3s;
	cursor: pointer;

	&:focus
	{
		outline: none;
	}

	&.correct {
		background-color: $quaternary-color;
	}

	&.wrong {
		background-color: $secondary-color;
	}

 	// button animation
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;

	&:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 100%;
	background: #DCED31;
	z-index: -1;
	-webkit-transition: width 150ms ease-in-out;
	transition: width 150ms ease-in-out;
	}

	&:hover:after {
	width: 110%;
	}
}

.controls-container {
	background-color: #709fb0;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-btn, .next-btn {
	min-width: 10.6em;
	font-size: 1em;
	font-weight: inherit;
}

.start-btn {
	background-color: $tertiary-color;
}

.next-btn {
	background-color: #c9cc27;
}

.hide {
	display: none;
}