*::before, *::after {
	box-sizing: border-box;
}

$nuetral-color: #F4F1DE;
$correct-color: #81B29A;
$wrong-color: #E07A5F;

body {
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	background-color: $nuetral-color;

	&.correct {
		background-color: $correct-color;
	}
}



.wrong {
	background-color: $wrong-color;
}

.container {
	width: 800px;
	max-width: 80%;
	background-color: #3D405B;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 30px 2px rgba(0,0,0,0.5);
	color: #fff;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 20px;
}

.btn {
	background-color: #81B29A;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px;
	box-shadow: 0 0 30px 2px rgba(0,0,0,0.1);
	font-family: 'Raleway', sans-serif;

	&:hover {
		border-color: #fff;
	}
}

.start-btn, .next-btn {
	background-color: #E07A5F;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}